*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

header, main, footer{
  min-height: 81px;
}

main {
  flex-grow: 1;
  overflow: auto;
}

footer{
  background-color: #222222;
}

.user-card{
  height: 200px;
  width: 250px;
  margin: .5rem .1rem;
  position: relative;
}

main .container{
  display: flex;
  flex-wrap: wrap;
}

header .container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

footer .container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.speaker-view{
  background-color: #4a4a4a;
  width: fit-content;
  height: 1.5rem;
  border-radius: 5px;
  margin: 3px 3px;
  color: white;
  display: inline-block;
  padding-top: .2rem;
  padding-left: .3rem;
  padding-right: .3rem;
  text-align: center;
}

.widescreen{
  background-color: #4a4a4a;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  margin: 3px 3px;
  color: white;
  text-align: center;
  padding-top: 2px;
}

.bottom-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem .3rem;
}

.muted{
  color: white;
  font-size: 1rem;
}

.username{
  color: white;
  font-size: 0.8rem;
}

.mute-stop, .room-interactions{
  display: flex;
}

.end-meeting{
  background-color: #4a4a4a;
  width: fit-content;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.function{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: .5rem;
}

.function-green{
  color: #4bc800;
}

.function i{
  font-size: 1.5rem;
}

.function p{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.arrow-up{
  padding: 1rem .5rem;
  font-size: 1rem;
}

.room-interactions .arrow-up{
  padding: 1rem .5rem;
  font-size: 1rem;
  color: white;
}

.end-meeting span{
  color: red;
  font-size: 1rem;
}


